.wrap-venomaps, .wrap-venomaps *{
  box-sizing: border-box;
}
.venomap {
  height: 500px;
  width: 100%;
}
.wpol-hide{
  visibility: hidden;
  opacity: 0;
}
/*
 * Marker
 */
.wpol-infomarker{
  display: block;
  margin: 0;
  cursor: pointer;
}
.wpol-infomarker img{
  width: auto;
  display: block;
  margin: 0;
  padding: 0;
}
/*
 * Infopanel
 */ 
.wpol-infopanel{
  position: relative;
  width: auto;
  max-width: 320px;
/*  opacity: 1;
  transform: translateY(0);
  transition: transform .2s, opacity .2s;
  pointer-events: auto;
  width: auto;
  height: auto;*/
}
.wpol-infopanel.infobox-closed{
/*  pointer-events: none;
  opacity: 0;
  transform: translateY(-16px);
  width: 0;
  height: 0;*/
  display: none;
}
.wpol-infopanel-close{
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  color: #6c6c6c;
}
.wpol-infopanel-close img, .wpol-infopanel-close svg{
  display: block;
  width: 100%;
  height: auto;
}
.wpol-infopanel-overlay{
  z-index: 4;
}
.wpol-infopanel-active{
  z-index: 5;
}
.wpol-infopanel .wpol-infolabel{
  padding: 14px;
  padding-right: 16px;
  background: #fff;
  color: #6C6C6C;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.63);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.63);
  border-radius: 4px;
  display: block;
  font-size: 14px;
  line-height: 1.2;
  max-height: 200px;
  overflow-y: auto;
}
.wpol-infopanel .wpol-infolabel *{
  margin: 0;
  line-height: 1.2;
}
.wpol-infopanel .wpol-infolabel p{
  margin-bottom: 4px;
}
.wpol-arrow{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  bottom: -10px;
  left: 50%;
  margin-left: -11px;
  border-width: 11px;
  border-bottom-width: 0;
}
.wpol-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-width: 10px;
  border-bottom-width: 0;
}
/*
 * OL controls
 */
.ol-attribution *{
  font-size: 9px;
}
.ol-attribution-collapse,
.ol-attribution-expand{
  line-height: 2.5;
}
.ol-control{
  padding: 0;
}
.ol-control.ol-zoom,
.ol-control.ol-zoom:hover{
  background:none;
  z-index: 9;
}

.ol-control button{
  padding: 0 !important;
  line-height: 1 !important;
  border: none !important;
}
/*
.ol-control button,
.ol-control button:focus, .ol-control button:hover{
  background-color: rgba(125, 125, 125, 0.7);
  color: #fff;
}*/
.ol-control button:focus, .ol-control button:hover{
  opacity: .8;
}

input[type="text"].venomaps-form-control{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  margin: 0;
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(100, 100, 100, 0.15);
  background-clip: padding-box;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 0;
  position: relative;
}

.vmap-input-group{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
}
.vmap-flex{
  display: flex;
}

.vmap-flex-grow{
  flex-grow: 1 !important;
}
.vmap-input-group-text{
  padding: .375rem 1rem;
  font-size: 1rem;
  line-height: 2;
}
