.wrap-venomaps, .wrap-venomaps *{
  box-sizing: border-box;
}
.venomap {
  height: 500px;
  width: 100%;
}
.wpol-hide{
  visibility: hidden;
  opacity: 0;
}
/*
 * Marker
 */
.wpol-infomarker{
  display: block;
  margin: 0;
  cursor: pointer;
}
.wpol-infomarker img{
  width: auto;
  display: block;
  margin: 0;
  padding: 0;
}
/*
 * Infopanel
 */ 
.wpol-infopanel{
  position: relative;
  width: auto;
  max-width: 320px;
/*  opacity: 1;
  transform: translateY(0);
  transition: transform .2s, opacity .2s;
  pointer-events: auto;
  width: auto;
  height: auto;*/
}
.wpol-infopanel.infobox-closed{
/*  pointer-events: none;
  opacity: 0;
  transform: translateY(-16px);
  width: 0;
  height: 0;*/
  display: none;
}
.wpol-infopanel-close{
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}
.wpol-infopanel-close img, .wpol-infopanel-close svg{
  display: block;
  width: 100%;
  height: auto;
}
.wpol-infopanel-overlay{
  z-index: 4;
}
.wpol-infopanel-active{
  z-index: 5;
}
.wpol-infopanel .wpol-infolabel{
  padding: 14px;
  padding-right: 16px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.63);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.63);
  border-radius: 4px;
  display: block;
  font-size: 14px;
  line-height: 1.2;
  max-height: 200px;
  overflow-y: auto;
}
.wpol-infopanel .wpol-infolabel *{
  margin: 0;
  line-height: 1.2;
}
.wpol-infopanel .wpol-infolabel p{
  margin-bottom: 4px;
}
.wpol-arrow{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  bottom: -10px;
  left: 50%;
  margin-left: -11px;
  border-width: 11px;
  border-bottom-width: 0;
}
.wpol-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-width: 10px;
  border-bottom-width: 0;
}
/*
 * OL controls
 */
.ol-attribution *{
  font-size: 9px;
}
.ol-attribution-collapse,
.ol-attribution-expand{
  line-height: 2.5;
}
.ol-control{
  padding: 0;
}
.ol-control.ol-zoom,
.ol-control.ol-zoom:hover{
  background:none;
  z-index: 9;
}

.ol-control button{
  padding: 0 !important;
  line-height: 1 !important;
  border: none !important;
}
/*
.ol-control button,
.ol-control button:focus, .ol-control button:hover{
  background-color: rgba(125, 125, 125, 0.7);
  color: #fff;
}*/
.ol-control button:focus, .ol-control button:hover{
  opacity: .8;
}

input[type="text"].venomaps-form-control{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  padding-right: 3em;
  margin: 0;
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  position: relative;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221em%22%20height%3D%221em%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-search%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M11.742%2010.344a6.5%206.5%200%201%200-1.397%201.398h-.001q.044.06.098.115l3.85%203.85a1%201%200%200%200%201.415-1.414l-3.85-3.85a1%201%200%200%200-.115-.1zM12%206.5a5.5%205.5%200%201%201-11%200%205.5%205.5%200%200%201%2011%200%22%2F%3E%3C%2Fsvg%3E');
  background-position: center right 1em;
  background-repeat: no-repeat;
}

.venomaps-custom-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  margin: 0;
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"), none;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border:1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
