.openmap {
	height: 450px;
	width: 100%;
	font-family: arial, helvetica, sans-serif;
}
.wpol-infomarker{
	display: block;
	margin: 0;
}
.wpol-infomarker img{
	width: auto;
	display: block;
	margin: 0;
	padding: 0;
}
.wpol-form-group{
	display: block;
	margin: 4px 0;
	clear: both;
}
.ol-attribution{
  font-size: 9px;
}
.button .dashicons{
	vertical-align: middle;
}
.wpol-form-group{
	display: block;
	margin: 4px 0;
	clear: both;
}
.wrap-marker{
	margin-bottom: 1em;
}
.wrap-clone{
	border-top: 4px solid #46B450;
	margin-top: 1em;
	position: relative;
}
.wpol-remove-marker{
	position: absolute;
	right: 0;
	top: .5em;
}
.wpol-btn-link .dashicons{
	vertical-align: middle;
}
.wpol-badge{
	background-color: #00A0D2;
	color: #fff;
	border-radius: 5em;
	padding: .5em 1em;
	margin: .5em 0;
	display: inline-block;
}
.wpol-btn-link{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-color: transparent;
    -webkit-appearance: none;
    white-space: nowrap;
    box-sizing: border-box;
    background:none;
}
@media only screen and (max-width: 782px) {
	.wpol-btn-link{
		padding: 0 14px;
		line-height: 2.71428571;
		font-size: 14px;
		vertical-align: middle;
		min-height: 40px;
		margin-bottom: 4px;
	}
}
.wpol-btn-link:hover{
	color: #DC3232;
}
.openmaps_custom_marker-wrap{
	position: relative;
	display: inline-block;
}

input.all-options.openmaps_custom_marker{
	padding-right: 3em;
}

.openmaps_custom_marker-wrap .openmaps_marker_remove_btn{
	position: absolute;
	right: 0;
}
